<ul class="list" style="font-size: 9pt">
    <li style="width:40%">
        Edit Width: {{textfield value=width}}
    </li>
    <li style="width:40%">
        Edit height: {{textfield value=height}}
    </li>
    
</ul>

